<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace指向对应的接口-->
<mapper namespace="com.hwadee.ssm.mappers.GoodsMapper">
	<!--sql id 与接口方法一一对应-->
	<select id="findByCondition2" resultType="com.hwadee.ssm.entity.Goods">

  	</select>
	<insert id="insert" parameterType="com.hwadee.ssm.entity.Goods">

	</insert>
</mapper>